@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  font-family: "Inter", sans-serif !important;
}

@font-face {
  font-family: "Inter";
  src: url("../public/font/Inter-Regular.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Inter";
  src: url("../public/font/Inter-Bold.ttf") format("truetype");

  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Inter";
  src: url("../public/font/Inter-SemiBold.ttf") format("truetype");

  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Inter";
  src: url("../public/font/Inter-Medium.ttf") format("truetype");

  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Inter";
  src: url("../public/font/Inter-Light.ttf") format("truetype");

  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.button {
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 90% 100%, 100% 0%);
}
