@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  font-family: "Inter", sans-serif !important;
}

@font-face {
  font-family: "Inter";
  src: url("../public/font/Inter-Regular.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Inter";
  src: url("../public/font/Inter-Bold.ttf") format("truetype");

  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Inter";
  src: url("../public/font/Inter-SemiBold.ttf") format("truetype");

  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Inter";
  src: url("../public/font/Inter-Medium.ttf") format("truetype");

  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Inter";
  src: url("../public/font/Inter-Light.ttf") format("truetype");

  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "BebasNeue";
  src: url("../public/font/BebasNeue-Regular.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Nunito";
  src: url("../public/font/Nunito-Regular.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Nunito";
  src: url("../public/font/Nunito-ExtraLight.ttf") format("truetype");

  font-weight: 200;
  font-style: normal;
  font-display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  /* background: url("../public/images/main_bg.png"); */
}

.button.right {
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 90% 100%, 100% 0%);
}

.button.left {
  clip-path: polygon(10% 0%, 0% 100%, 100% 100%, 100% 100%, 100% 0%);
}

.button.center {
  clip-path: polygon(0% 0%, 13% 100%, 100% 100%, 87% 100%, 100% 0%);
}

.award {
  display: grid;
  gap: 25px;
  grid-auto-columns: minmax(0, 1fr);
  grid-template-areas:
    "navigation navigation navigation image2 image2 image2"
    "image1 image1 image1 image2 image2 image2"
    "image1 image1 image1 image4 image4 image4"
    "image3 image3 image3 image4 image4 image4"
    "image3 image3 image3 more more more";
}

.award ul {
  grid-area: navigation;
}

.award .award1 {
  grid-area: image1;
}

.award .award2 {
  grid-area: image2;
}

.award .award3 {
  grid-area: image3;
}

.award .award4 {
  grid-area: image4;
}

.award .more {
  grid-area: more;
}

.text-primary {
  background: -webkit-linear-gradient(#c1260f, #ee642a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
